body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', serif;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #222225;
    
}

button {
    width: 80px;
    height: 80px;
    font-size: 21px;
    border-radius: 5px;
    font-family: 'Orbitron', serif;
}
.clear {
    font-size: 15px;
}
.display {
    height: 150px;
    border: black solid 1px;
    font-size: 30px;
    align-items: center;
    border-radius: 10px;
    background-color: #f1f7ae;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 15px;
}

button.operator:focus {
    background-color: lightskyblue;
}